.btn{
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px;
    margin: 40px;
    background-color: yellow;
}
.btn:hover, :focus{
    background-color: orange;
    box-shadow: 5px 5px 10px #222;
}
.text{
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
}
.text:hover{
    text-shadow: 8px 3px 5px rgb(109, 2, 180);
}